<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.miniproject.myapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        tools:targetApi="31">
        <activity
            android:name=".coordinator.CoordinatorForgotPassword"
            android:exported="false" />
        <activity
            android:name=".student.StudentForgotPassword"
            android:exported="false" />
        <activity
            android:name=".coordinator.CoordinatorDashboardAccount"
            android:exported="false" />
        <activity
            android:name=".student.StudentDashboardAccount"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBO1lTXr1JJ9aFqiUJ24JN5uQG7x3gpsk4" />

        <activity
            android:name=".Navigation.Directions"
            android:exported="false" />
        <activity
            android:name=".Navigation.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".attendence.AttendenceDisplay"
            android:exported="false" />
        <activity
            android:name=".attendence.BarcodeScanner"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true" />
        <activity
            android:name=".attendence.Attendence"
            android:exported="false" />
        <activity
            android:name=".coordinator.EventsPage"
            android:exported="false" />
        <activity
            android:name=".coordinator.CreateEventPage"
            android:exported="false" />
        <activity
            android:name=".coordinator.CoordinatorDashboard"
            android:exported="false" />
        <activity
            android:name=".coordinator.CoordinatorRegistration"
            android:exported="false" />
        <activity
            android:name=".coordinator.CoordinatorLogin"
            android:exported="false" />
        <activity
            android:name=".student.NotificationPage"
            android:exported="false" />
        <activity
            android:name=".student.EventViewPage"
            android:exported="false" />
        <activity
            android:name=".student.StudentDashboard"
            android:exported="false" />
        <activity
            android:name=".student.StudentRegistration"
            android:exported="false" />
        <activity
            android:name=".student.StudentLogin"
            android:exported="false" />
        <activity
            android:name=".AskUserActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>